.amarillo {
  color: yellow;
}
.rojo {
  color: red;
}
.lupa-2 {
  width: 27px;
}
#modal-eliminar {
  background-color: #41567e;
  color: white;
  border: 20px white;
}
.ocultar {
  display: none;
}
#detalle {
  min-height: 100px;
}
.acciones {
  margin-left: 20%;
}
.bttn{
display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: 0.1rem 0.1rem;
font-size: 1rem;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.centro{
  text-align: center;
  }
 .vista{
  height: inherit;
 }