.amarillo {
  color: yellow;
}
.rojo {
  color: red;
}
.lupa-2 {
  width: 27px;
}
#modal-eliminar {
  background-color: #41567e;
  color: white;
  border: 20px white;
}
.ocultar {
  display: none;
}
#detalle {
  min-height: 100px;
}
.acciones {
  margin-left: 20%;
}
