.contenedor-cursos-inicio {
  background-color: #101c36;

  width: 250px;
  height: 250px;
}
.ancho-slider {
  max-width: 1200px;
  margin: 0 auto;
}
.container-carousel {
  max-width: 1100px;
  padding: 0 50 px;
  margin-left: auto;
  margin-right: auto;
}
.ofertaCursos {
  max-width: 1100px;
  margin-left: 60px;
  margin-bottom: 30px;
}
.container-cursos {
  padding-top: 35px;
  padding-bottom: 35px;
}
.instructor {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .contenedor-cursos-inicio {
    width: 300px;
  }
}
@media (max-width: 990px) {
  .contenedor-cursos-inicio {
    width: 350px;
  }
  .imagen-oferta > img {
    width: 300px;
    height: 140px;
  }
}
@media (max-width: 760px) {
  .ofertaCursos {
    margin: 30px auto;
  }
  .contenedor-cursos-inicio {
    width: 450px;
    height: 300px;
    min-width: 350px;
  }
  .imagen-oferta > img {
    padding-top: 10px;
    width: 350px;
    height: 180px;
  }

  .ofertaCursos > h2 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contenedor-cursos-inicio {
    width: 300px;
    min-width: 200px;
  }
  .imagen-oferta > img {
    width: 100%;
  }
}
@media (max-width: 334px) {
  .contenedor-cursos-inicio {
    width: 250px;
    min-width: 200px;
  }
  .imagen-oferta > img {
    width: 100%;
  }
}
