.contenedor-cursos-inicio {
  background-color: #101c36;

  width: 250px;
  height: 250px;
}

.container-carousel {
  max-width: 1100px;
  padding: 0 50 px;
  margin-left: auto;
  margin-right: auto;
}
.oferta {
  margin-left: 85px;
}
.container-cursos {
  padding-top: 35px;
  padding-bottom: 35px;
}
.instructor {
  font-size: 12px;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .contenedor-cursos-inicio {
    width: 300px;
  }
}
@media (max-width: 990px) {
  .contenedor-cursos-inicio {
    width: 350px;
  }
  .imagen-oferta > img {
    width: 300px;
    height: 140px;
  }
}
@media (max-width: 760px) {
  .oferta {
    text-align: initial;
  }
  .contenedor-cursos-inicio {
    width: 450px;
    height: 300px;
    min-width: 350px;
  }
  .imagen-oferta > img {
    padding-top: 10px;
    width: 350px;
    height: 180px;
  }
  .oferta {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contenedor-cursos-inicio {
    width: 300px;
    min-width: 200px;
  }
  .imagen-oferta > img {
    width: 100%;
  }
}
@media (max-width: 334px) {
  .contenedor-cursos-inicio {
    width: 250px;
    min-width: 200px;
  }
  .imagen-oferta > img {
    width: 100%;
  }
}
