#container {
  width: 780px;
  background: #ffffff;
  margin: 0 auto;
  border: 1px solid #000000;
  text-align: left;
}

.style {
  margin: 0 0 0 250px;
  padding: 0 20px 20px 20px;
  padding-left: 50px;
}
#cursosRegistrados {
  margin-top: 80px;
}

.a {
  margin-left: 30px;
}
#cursos {
  padding: 0;
  height: 210px;
}
#cursosRegistrados {
  width: 75%;
}
@media (max-width: 1082px) {
  #cursosRegistrados {
    width: 100%;
  }
  #imagen-cursos-estudiante {
    margin-top: 8%;
  }
  #cursos {
    height: 210px;
  }
}
@media (max-width: 991px) {
  #cursosRegistrados {
    width: 100%;
  }

  #Descripcion {
    overflow: scroll;
  }
  #nombre-del-curso {
    font-size: 15px;
  }
  #Descripcion {
    height: 55%;
  }
  #cursos {
    height: 260px;
  }
  #imagen-cursos-estudiante {
    margin-top: 20%;
  }
}
@media (max-width: 768px) {
  #Descripcion {
    display: none;
  }

  #nombre-del-curso {
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 78%;
    overflow: scroll;
  }
  #instructor-nombre {
    font-size: 15px;
  }
  #instructor-apellido-paterno {
    font-size: 15px;
  }
  #instructor-apellido-materno {
    font-size: 15px;
  }
  #ver-detalles {
    width: 100%;
  }
}
@media (max-width: 570px) {
  #cursos {
    display: block;
    height: 350px;
    text-align: center;
  }
  #nombre-del-curso {
    height: 70px;
    width: 100%;
  }
  #imagen-cursos-estudiante {
    width: 70%;
  }
  #ver-detalles {
    width: 100%;
    height: 42px;
    font-size: 24px;
    font-weight: 500;
  }
  #imagen-cursos-estudiante {
    margin-top: 10px;
  }
  .contenedor-datos-curso {
    padding: 0;
  }
}
@media (max-width: 379px) {
  #nombre-del-curso {
    height: 70px;
    width: 100%;
    font-size: 17px;
  }
  .contenedor-datos-curso {
    padding: 0;
  }
}
