.App {
  background-color: #41567e;
  height: 100%;
}
#ofertas {
  background-color: #3f475c;
  height: 200px;
}
#titulo {
  font-size: 13px;
}
#descripcion {
  font-size: 12px;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}

a {
  margin-left: 50px;
}

.Descripcion {
  width: 410px;
  height: 210px;
  background-color: #dcedff;
  padding: 30px;
  margin-top: 60px;
  margin-left: 90px;
}

.logo {
  margin-left: 600px;
  margin-top: -160px;
}

.Titulo {
  line-height: 200%;
}

#boton_buscar {
  background-color: rgb(81, 81, 162);
  margin-left: 740px;
  border-radius: 30px;
  color: white;
  height: 38px;
  width: 90px;
  padding-top: 6px;
  border-style: hidden;
  text-align: center;
}
#cursosRegistrados {
  padding-top: 80px;
}
#cursos {
  margin-bottom: 8px;
}
#btn-inscribirse {
  background-color: transparent;
  border: transparent;
  color: #fcf93f;
}
#instructor {
  font-size: 12px;
}
#nombre-del-curso {
  font-size: 20px;
  font-weight: bold;
}
