.App {
  background-color: #41567e;
  height: 100vh;
}
#ofertas {
  background-color: #3f475c;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}

a {
  margin-left: 50px;
}

.Descripcion {
  width: 410px;
  height: 210px;
  background-color: #DCEDFF;
  padding: 30px;
  margin-top: 60px;
  margin-left: 90px;  
}

.logo{
  margin-left: 600px;
  margin-top: -160px;
  
}

.Titulo{
  line-height: 200%;
}
